root = true

[*]
max_line_length=120
end_of_line=lf
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space

[*.{js,jsx,ts,tsx,css}]
indent_size=2

[*.{py}]
indent_size=4

[*.{svg,html}]
insert_final_newline=false
